name: CI/CD_Pipeline
# This new addedworkflow automates the deployment of Databricks asset bundles to different environments based on the branch pushed to.
on:
  push:
    branches: [ main, dev, UAT ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

        # Install dbt
      # ------------------------
      - name: Install dependencies
        run: |
          pip install poetry

      - name: installing databricks CLI
        uses: databricks/setup-cli@main
      - name: deploy to databricks
        env:
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_HOST: https://dbc-fd4c8a5f-6584.cloud.databricks.com/
          DATABRICKS_BUNDLE_ENV: dev
        run: |
          databricks bundle validate --target dev
          databricks bundle deploy --target dev